* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

article {
  padding: 2em;
  color: #333;
}

/* HEADER */

header {
  background-color: #333;
  /*padding: 20px 10px 70px;*/
  padding: 1.5em .8em 4.5em;
  color: #fff;
}
 header h1 {
  float: left;
  margin-top: .2em;
 }
 header > a {
  color: #fff;
 } 
#nav {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  float: right;
}

#nav li {
  display: inline-block;
  /*margin-top: -10px;*/
}

#nav li a {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  padding: 15px 40px;
  border: 2px solid #EC3;
  color: #fff;
  text-align: center;
  text-decoration: none; 
  border-radius: 5px;   
}

#nav li a:hover {
  color: #353020;
  background-color: #EC3;
}

#nav li a.active {
  color: #353020;
  background-color: #EC3;
}

.icon {
  color: #ec3;
}

/* BANNER SECTION */

.banner {
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner-text {
  color: #fff;
  text-align: right;
  padding: 5em 2em;
}

.intro-block {
  max-width: 1000px;
  margin: 5px auto;
}

/*MEDIA QUERIES*/

@media (max-width: 870px) {
  header {
    /*height: 100px;*/
    padding: 2em .8em 8em;
  }

  #nav {
    float: left;
  }

  #nav li a {
    margin-top: .3em;
  }
}

@media (max-width: 600px) {
  header {
    /*height: 100px;*/
    padding: 2em .8em 8.8em;
  }

  header h1 {
    font-size: 1.4em;
    margin-top: -20px;
  }
}



/*=======Members section==============*/

.members{
  background-color: rgb(51, 51, 51);
}

.members__heading{
  color: #fff;
  font-family: Verdana, sans-serif;
  margin-top: 20px;
}

.member{
  max-width:260px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  padding: 20px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.member:hover{
  background-color: rgb(41, 41, 41);
  border-radius: 5px;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  border: 1px solid tomato;
}

.member__img{
  height: auto;
  max-width: 200px;
  padding: auto auto;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  overflow: hidden;
  border-radius: 10px;
  max-height:200px;

}

.member__name{

  font-family: Verdana, sans-serif;
  color: rgb(237, 203, 51);

}

.member__role{
  color: rgba(237, 203, 51, .8);
  font-size: 16px;
}

.member__desc{
  color: #fff;
  font-family: Verdana, sans-serif;
  display: block;
  height: 240px;
  text-align: justify;
}

.social-icons{
  display: block;
  margin-top: 20px;
}

.social-icons__link{
  display: inline-block;
  height:40px;
  width:40px;
  font-size:20px;
  border: 1px solid rgba(237, 203, 51, .5);
  border-radius: 2px;
  margin-right: 10px;
  text-align: center;
  line-height: 40px;
  color: rgb(237, 203, 51);
  transition: all 0.3s ease 0s;
}

.social-icons__link:hover{
  background-color: rgb(237, 203, 51);
  color: rgb(51, 51, 51);
}





